In [12]:
import osmnx as ox
import random
import lib
import pandas as pd

from ipywidgets import IntProgress
from IPython.display import display

In [2]:
G = lib.load()
allHouses, allInfra = lib.getTaggedNodes(G)

In [3]:
# 1.1 params
speed = 40 # km/h

houses = random.sample(allHouses, 100)
infra = random.sample(allInfra, 10)

In [4]:
progress = IntProgress(min=0, max=len(houses) + len(infra), value=0)
display(progress)

def updateProgress():
    progress.value += 1
    progress.description = f'{progress.value}/{progress.max}'

houseObjPaths = lib.getManyToManyPaths(G, houses, infra, speed, updateProgress)
objHousePaths = lib.getManyToManyPaths(G, infra, houses, speed, updateProgress)
roundPaths = {}

# Make round paths form them
for house in houses:
    for obj in infra:
        if(obj in houseObjPaths[house]) and (house in objHousePaths[obj]):
            roundPaths[f"{house}-{obj}"] = lib.joinPaths(houseObjPaths[house][obj], objHousePaths[obj][house])
            roundPaths[f"{obj}-{house}"] = lib.joinPaths(objHousePaths[obj][house], houseObjPaths[house][obj])
        
progress.bar_style = "success"

IntProgress(value=0, max=110)

In [5]:
houseClosestObj = {}
for house in houseObjPaths:
    shortestPath = {"length": float('inf')}
    closestObj = None
    for obj in houseObjPaths[house]:
        if(houseObjPaths[house][obj]['length'] < shortestPath['length']):
            shortestPath = houseObjPaths[house][obj]
            closestObj = obj
    
    houseClosestObj[house] = closestObj

In [6]:
objClosestHouse = {}
for obj in infra:
    shortestPath = {"length": float('inf')}
    closestHouse = None
    for house in objHousePaths[obj]:
        if(objHousePaths[obj][house]['length'] < shortestPath['length']):
            shortestPath = objHousePaths[obj][house]
            closestHouse = house
    
    objClosestHouse[obj] = closestHouse

In [7]:
shortestHouseObjRounds = {}
for house in houseObjPaths:
    shortestPath = {"length": float('inf')}
    closestObj = None
    for obj in houseObjPaths[house]:
        if (f'{house}-{obj}' in roundPaths) and (roundPaths[f'{house}-{obj}']['length'] < shortestPath['length']):
            shortestPath = roundPaths[f'{house}-{obj}']
            closestObj = obj
    
    shortestHouseObjRounds[house] = closestObj

In [8]:
print("От узла")
pd.DataFrame.from_dict(houseClosestObj, orient="index")

От узла

                   0
31629076   318785926
151694704  562432684
50624872    55962415
35278656   620943794
60446293   318785926
...              ...
55962380    55962415
68528862   379348492
92027604   379348492
523223104  379348492
137185418  379348492

[100 rows x 1 columns]

In [9]:
print("От объекта")
pd.DataFrame.from_dict(objClosestHouse, orient="index")

От объекта

                   0
49250798    49250795
303715218   45983721
318785926   55482784
379348492   59455700
55962415    55962380
562432684  105727047
47480330   103143685
55882077    45898733
541811596   45983721
620943794   45983721

In [21]:
print("Туда обратно")
pd.DataFrame.from_dict(shortestHouseObjRounds, orient="index")

Туда обратно

                   0
31629076   318785926
151694704  562432684
50624872    55962415
35278656   620943794
60446293   318785926
...              ...
55962380    55962415
68528862   379348492
92027604   379348492
523223104  379348492
137185418  379348492

[100 rows x 1 columns]